QWidget{
    background-color: #2a2a2a;
    color: #B7B7B7 ;
}

QPushButton{
    background-color: #434343; 
    border: 2px #434343; 
    border-radius: 3px; 
    min-height: 20px; 
    color: #B7B7B7
}